version: '3'
services:
  freqtrade:
    build:
      context: ./
      dockerfile: ./Dockerfile
    restart: unless-stopped
    depends_on:
      - bifrost
    container_name: freqtrade
    volumes:
      - "./user_data:/freqtrade/user_data"
    command: >
      trade
      --logfile /freqtrade/user_data/logs/freqtrade.log
      --db-url sqlite:////freqtrade/user_data/tradesv3.sqlite
      --config /freqtrade/user_data/config.json
      --strategy FrostAuraBifrostStrategy
  bifrost:
    image: "frostaura/bifrost:latest"
    volumes:
      - "./bifrost/data:/app/pair_data"
    restart: unless-stopped
